.work-filters {
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
    margin-left: 0.8rem;
}

.work-item {
    font-size: var(--normal-font-size);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
    transition: .3s;
}

.work-item:hover {
    color: var(--first-color);
}

.work-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.875rem;
}

.work-card {
    background-color: var(--container-color);
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-mask {
    background-color: #c2ae91;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
    opacity: 0;
}

.work-card:hover .work-mask {
    opacity: 0.9;
}

.work-title {
    color: white;
    font-size: var(--h3-font-size);
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute; 
    top: 3.75rem;
    transform: translateY(-50%);
    transform: translateX(-50%); 
    transition: .3s;
    opacity: 0;
}

.work-card:hover .work-title,
.work-card:hover,
work-category {
    opacity: 1;
    transform: translateY(0);
    cursor: pointer;
}

.active-title {
    color: var(--first-color);
}

@media screen and (max-width: 1024px) {
    .work-filters {
        justify-content: center;
    }

    .work-container {
        grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width: 768px) {
    .work-container {
        grid-template-columns: 310px;
    }

    .work-filters {
        row-gap: .25rem;
    }
}