.home {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    max-width: 540px;
    text-align: center;
}

.home-name {
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
    margin: 1rem;
}

.home-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.home-education {
    margin-bottom: 1rem;
}

.home-socials {
    margin: 1.5rem 0;
}

.home-social-link {
    color: var(--title-color);
    font-size: 1.5rem;
    transition: .3s;
    padding: .5rem;
}


.home-social-link:hover {
    color: var(--first-color);
}