.contact.section {
    padding-bottom: 6.25rem;
    align-items: center;
}

.contact-container {
    column-gap: 1.875rem;
}

.contact-form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
}

.contact-form-div {
    position: relative;
    margin-bottom: 1.875rem;
    height: 3.75rem;
}

.contact-form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow);
    background-color: var(--container-color);
    color: var(--text-color);
    border: none;
    outline: none;
    border-radius: 1.875rem;
    padding: 0.625rem 1.875rem;
    z-index: 1;
}

.contact-form-div.area {
    height: 10rem;
}

.contact-form-div.area textarea {
    resize: none;
}

@media screen and (max-width: 1024px) {
    .contact-container {
        grid-template-columns: 600px;
        justify-content: center;
    }

    .work-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 768px) {
    .contact-container {
        grid-template-columns: 360px;
        row-gap: 1.875rem;
    }

    .contact-info {
        text-align: center;
    }
}